<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/login*" security="none" />
	<http pattern="/resources/**" security="none" />
	<http pattern="/register" security="none" />
	<http pattern="/accessdenied" security="none" />
	<http pattern="/error404" security="none" />
	<http pattern="/error500" security="none" />
	
	<http create-session="always" disable-url-rewriting="true" use-expressions="true">
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<form-login login-page="/login" default-target-url="/home" always-use-default-target="true" authentication-failure-url="/login?authFailed=true" />
		<logout  invalidate-session="true" delete-cookies="JSESSIONID" logout-success-url="/login" />
		
		<!-- create new clean session when user logs in -->
		<session-management invalid-session-url="/login"
			session-fixation-protection="newSession ">
			<concurrency-control max-sessions="3"
				error-if-maximum-exceeded="false" expired-url="/login"/>
		</session-management>
		<access-denied-handler error-page="/accessdenied" />
		 	
	</http>

	<global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled" />

	<beans:bean name="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="bcryptEncoder" />
			<user-service>
				<user name="user"
					password="$2a$12$ivaXgiRpXqSc0B4035oE5.a6yi3Ezz3siRZen9kcz.3NS5QPEKG2S"
					authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="user1"
					password="$2a$12$wgyQ4ARuR2uf1OQgqIbkiOdPp39l3SQDmiaPjbNXnKzzpbQbnoTju"
					authorities="ROLE_USER" />
				<user name="user2"
					password="$2a$12$wgyQ4ARuR2uf1OQgqIbkiOdPp39l3SQDmiaPjbNXnKzzpbQbnoTju"
					authorities="" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>